html, body { 
    margin: 0; padding: 0;
    font-family: 'Computer Modern Serif', 'MathJax_Main', 'Old Standard TT', Cambria, Georgia, serif;
    overflow: hidden;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

csf-app { 
    flex: 1 0 1px;
    -ms-touch-action: none;
}

div#info {
    flex: 0 0 250px;
    padding: 0.5em;
    border-left: 1px solid black;
    overflow-y: auto;
}

#info p{
    margin-top: 0;
    margin-bottom: 1em;
}

a.title {
    font-size: 120%;
    line-height: 0.8em;
}
a,a:visited {
    color: #4B8CC0;
    text-decoration: none;
}

a:hover {
    color: #569CE7;
    text-decoration: underline;
}

@media all and (max-width: 500px) { /* Should capture portrait smartphones */
    body {
        flex-direction: column;
    }

    div#info {
        border-left: none;
        border-top: 1px solid black;
        flex: 0 0 200px;
    }
}

#clear {
    position: absolute;
    top: 0.5em;
    left:0.5em;
}

#clear:hover {
    cursor: pointer;
}
