html, body { 
    margin: 0; padding: 0;
    font-family: 'Computer Modern Serif', serif;
    overflow-x: hidden;
}

body {
    position: relative;
    padding: 0;
    height:100%;
}
canvas { 
    display: block;
    width: 100%;
    height:100%;
    -ms-touch-action: none;
}
div#info {
    position: absolute;
    right:0; 
    top:0;
    height: 100vh;
    box-sizing: border-box;
    width: 250px;
    padding: 0.5em;
    border-left: 1px solid black;
    overflow-y: auto;
}

#info p{
    margin-top: 0;
    margin-bottom: 1em;
}

a.title {
    font-size: 150%;
    line-height: 0.8em;
}
a,a:visited {
    color: #5BACF0;
    text-decoration: none;
}

a:hover {
    color: #569CE7;
    text-decoration: underline;
}

@media all and (max-width: 500px) { /* Should capture portrait smartphones */
    div#info {
        position: absolute;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        border-left: none;
        border-top: 1px solid black;
        height: 200px;
        width: 100%;
    }
}

#clear {
    position: absolute;
    top: 0.5em;
    left:0.5em;
}

#clear:hover {
    cursor: pointer;
}

@-ms-viewport, @viewport {
    width: device-width; 
    initial-scale: 1;
    maximum-scale: 1;
}
